@import "tailwindcss";
@plugin "daisyui";
@font-face {
  font-family: es;
  src: url(../fonts/Estedad-Medium.ttf);
}
@theme {
  --font-es: es;
}
@font-face {
  font-family: fd;
  src: url(../fonts/Estedad-FD-Medium.ttf);
}
@theme {
  --font-fd: fd;
}
